.no-border {
  border: 0;
}

.border {
  border: 1px solid black;
  border-radius: 5px;
}

.form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.submit {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
}

.input:focus {
  outline: none;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}